/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #021B21BB;
    background-alt: #0C252BBB;
    foreground:     #F2F1B9BB;
    selected:       #44B5B1BB;
    active:         #7CBF9EBB;
    urgent:         #C2454EBB;
}
